.s1 {
  padding-top: 2rem;
  background-color: hsl(209, 61%, 16%);
  margin-top: 3rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.s1 img {
  width: 30%;
}
.s1 h2 {
  color: #fff;
}
.s2 {
  margin-top: 1.5rem;
  text-align: center;
}
.mediaName {
  width: 70%;
  margin: auto;
}

@media (max-width: 800px) {
  .s1 {
    flex-direction: column;
    gap: 2rem;
  }
  .s1 img {
    width: 60%;
  }
}
