/*
=============== 
Variables
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* background: var(--clr-grey-10); */
  background-color: #dcfae5;
  /* color: var(--clr-grey-1); */
  color: #000;
  line-height: 1.5;
  font-size: 0.875rem;
}
.headColor {
  padding-left: 0;
  margin-left: 0;
  height: 4rem;
  margin-right: 100%;
  padding-right: 100%;
  background-color: #0b4b49;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing), radial-gradient(#444, #111);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  /* color: var(--clr-grey-5); */
  color: #000;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.container {
  margin: auto;
  width: 100%;
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.navebar {
  background-color: red;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  position: fixed;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.8rem 2.5rem;
  transition: var(--transition);
  font-weight: 600;
  color: #fff;
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.social-icons a {
  margin: 2rem 0 0 1rem;

  font-size: 1.3rem;
  color: var(--clr-primary-5);
}
.links-container {
  overflow: hidden;
  transition: var(--transition);
  position: fixed;
  background-color: rgba(12, 73, 50, 0.3);
  border-radius: 2rem;
  width: 50vw;
  height: 30vh;
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: 2rem !important;
    margin-top: 2rem;
  }
  .links {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .links a {
    padding: 0.2rem;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

@media (max-width: 650px) {
  .links-container ul .active {
    margin-left: 1rem;
    width: 50rem;
  }
}

.links-container ul .active {
  font-weight: bold;
  color: rgb(16, 15, 12);
  background: rgba(190, 128, 13, 0.5);
  border-radius: 5px;
  width: 10rem;
}

/* Home page// wroking on the hero */
.heroContainer {
  background-image: url(https://i.roamcdn.net/hz/pi/listing-gallery-full-1920w/06d504183920e64425aa5e7b5f679f30/-/horizon-files-prod/pi/picture/qj9d045/eddcd7b61a1b9fd4c743bf4b68f81e7477f88dfc.jpg);
  background-color: rgba(44, 22, 233, 0.7);
  background-size: 100%;
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}
.hero {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .hero2 {
  width: 100%;
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: 1100;
  color: rgb(255, 238, 7);
  padding: 1.5rem;
}

.hero h1 span {
  color: rgb(237, 237, 240);
}

.form {
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-green-dark);
}
.form h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.form input {
  width: 35rem;
  padding: 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.form button {
  width: 15rem;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: var(--clr-grey-1);
}
.social-icon {
  width: 100%;
  background-color: #363434;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1500px) {
  .form {
    flex-direction: column;
  }
  .form input {
    width: 25rem;
  }
  .form button {
    width: 12rem;
  }
  .social-icon {
    flex-direction: column;
  }
  .social-icons {
    background: hsl(210, 31%, 80%);
  }
  .social-icon p {
    color: white;
  }
  .social-icon h3 {
    padding: 0.8rem;
    color: white;
  }
}
@media (max-width: 2250px) {
  .links-container {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 35rem;
  }
  .links a {
    font-size: 1rem;
  }
  .social-icons {
    /* background-color: #0b4b49; */
    width: 100%;
    padding-top: 1.5rem;
  }
  .social-icons a {
    font-size: 1.5rem;
    color: rgb(119, 119, 11);
  }
}

@media (max-width: 800px) {
}

@media (max-width: 795px) {
  .links-container {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 15rem;
    border-radius: 0.2rem;
  }
  .links a {
    font-size: 1rem;
  }
  .social-icon {
    flex-direction: column;
  }

  .social-icon h3 {
    padding: 0.8rem;
    color: white;
  }
}
@media (max-width: 500px) {
  .social-icons a {
    font-size: 0.8rem;
    margin-left: -0.5rem;
  }
  .social-icons {
    grid-template-columns: 1fr 1fr;
  }
}
